<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_Nha_Tro_Demo.Properties.Settings.QLKSEZConnectionString"
            connectionString="Data Source=DESKTOP-KO985QK;Initial Catalog=QLKSEZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>